/* ---- Font Import ---- */

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Body */

* {
	text-rendering: optimizeLegibility !important;
}

body {
	color: #d4d4d3;
	background-color: black;
	background-size: cover;
	background-image: radial-gradient(transparent, black), url("https://i.imgur.com/VPKGs4a.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#punindex .blocktable {
	box-shadow: 0 0 12px black;
	margin-bottom: 16px;
}

.pun {
	font-family: "Roboto", sans-serif;
}

.pun .blockform {
	box-shadow: 0 0 12px black;
	margin-bottom: 16px;
}

/* ---- Custom Scrollbar----  */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8080ff #000000;
}

/* Chrome, Edge, and Safari */
#shout div::-webkit-scrollbar {
	width: 6px !important;
	background-color: black;
}

#shout div::-webkit-scrollbar-thumb {
	width: 6px !important;
	background-color: #8080ff;
	border: solid 4px black;
}

#shout div::-webkit-scrollbar-track {
	width: 6px !important;
	-webkit-box-shadow: none;
	background-color: black;
}

/* Header */

#brdtitle h1 {
	font-size: 2.4em;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
        margin-left: -13px;
}

#brdtitle h1 a {
	font-weight: bold;
	font-family: "Chakra Petch", sans-serif !important;
}
#brdtitle h1 a span {
	font-weight: bold;
	font-family: "Chakra Petch", sans-serif !important;
}

#brdtitle h1 a {
	color: #eaeaea;
}

#brdtitle h1 a span {
	color: #8080ff;
}

#brdheader {
	margin: 12px 0 16px 0;
}

#navnotifications {
	margin-right: 12px !important;
	vertical-align: middle !important;
}

.fa-lg {
	line-height: 0 !important;
}

/* Rainbow bar */
#skeetbar {
	content: '';
	height: 2px;
  	width: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  	position: fixed;
	background: linear-gradient(90deg, #339fc5, #6d6cb6, #a250bb, #a8749f, #b8718a, #b88577, #b8a458, #b8cd31);
	background-size: 150% 150%;
	z-index: 9999;

	-webkit-animation: rainbow 4s ease infinite;
	-z-animation: rainbow 4s ease infinite;
	-o-animation: rainbow 4s ease infinite;
  	animation: rainbow 4s ease infinite;
}

@-webkit-keyframes rainbow {
    	0%{background-position:0% 82%}
    	50%{background-position:100% 19%}
    	100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    	0%{background-position:0% 82%}
    	50%{background-position:100% 19%}
    	100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    	0%{background-position:0% 82%}
    	50%{background-position:100% 19%}
    	100%{background-position:0% 82%}
}
@keyframes rainbow { 
    	0%{background-position:0% 82%}
    	50%{background-position:100% 19%}
    	100%{background-position:0% 82%}
}
/* End of Rainbow bar */

#brdheader .box {
	box-shadow: 0 0 12px black;
	border: solid 2px #8080ff;
	border-radius: 0;
}

/* also affects tables */
.pun .box {
	background-color: black;
	border: solid 2px #8080ff;
	border-radius: 0;
}

#brdmenu {
	color: #d4d4d3;
	font-size: 11px;
	font-weight: bold !important;
	font-family: "Roboto", sans-serif !important;
	text-transform: uppercase;
	background-color: black;
	border-color: #8080ff;
	border-width: 2px;
	border-style: solid none solid none;
	border-radius: 0;
	text-align: center;
	vertical-align: middle;
	cursor: default;
}

#brdmenu li {
	margin: 0 !important;
}

.pun ul {
	font-family: "Roboto", sans-serif !important;
}

/* ---- Sub-headers ---- */

.pun h2 {
	color: #bbb;
	font-size: 11px;
	font-weight: bold;
	font-family: "Roboto", sans-serif !important;
	text-transform: uppercase;
	line-height: 1;
        text-align: center;
	vertical-align: middle;
	background-color: black;
	border: 2px #8080ff;
	border-style: solid solid none solid;
	border-radius: 0;
}

/* ---- Shoutbox ---- */

#shout {
	font-size: 0.9em;
	background-color: black;
	width: 100%;
	overflow: auto;
}

#shout > div:nth-of-type(1) {
	color: #d4d4d4;
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
}

#shout .rowEven, #shout .rowOdd {
	background-color: black;
	padding: 2px 0px 2px 6px;
}

#shout input, #shoutvol, #emojiselector {
	background-color: black;
	border-color: #333;
	border-style: solid none none none;
	border-width: 1px;
}

#shout .chatBot {
	color: #ff8080;
	font-weight: bold;
}

#shout .rowHighlight {
	background-color: rgba(128, 128, 255, 0.2);
}

/* should be irrelevant due to global scrollbar, keeping in-case of problems.

#shout div::-webkit-scrollbar {
	width: 12px;
	background-color: black;
}

#shout div::-webkit-scrollbar-thumb {
	background-color: #8080ff;
	border: solid 4px black;
}

#shout div::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	background-color: black;
}

/*

/* ---- inbox ---- */

.pun .inbox thread {
	color: #777;
	font-size: 10px;
	border-style: none;
}

.pun .inbox thead .tcl, .pun .inbox thead .tcr, .pun .inbox thead .tc2, .pun .inbox thead .tc3 {
	background-color: black;
	border: 2px #8080ff;
	border-style: solid none solid none;
	border-radius: 0;
}

.pun th {
	color: #777;
	font-size: 10px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	line-height: 1;
	vertical-align: middle;
}

/* ---- tables ---- */

.pun .rowodd, .pun .roweven, .pun td.tc2, .pun td.tc3 {
	background-color: black;
}
.pun .rowodd:hover, .pun .roweven:hover {
	background-color: #101010;
}

.pun td {
	border-color: #333;
}

.pun .icon {
	border: solid 0.4em #202020;
	border-radius: 0;
	vertical-align: middle;
	margin: 0 0.3em 0 1em;
	height: 0;
	width: 0;
	overflow: hidden;
	float: left;
}

/* Lua API icon */
.pun .iredirect .icon {
	border: solid 0.4em #202020;
	border-radius: 0;
	vertical-align: middle;
	margin: 0 0.3em 0 1em;
	height: 0;
	width: 0;
	overflow: hidden;
	float: left;
}

.pun .inew .icon {
	border-color: #8080ff;
}

.pun .tcl h3 a {
	color: #ccc;
	font-weight: normal;
	font-family: "Roboto", sans-serif;
	line-height: 1;
	vertical-align: middle;
}
.pun .tcl h3 a:hover {
	color: #8080ff;
}

.pun .stickytext {
	color: #8080ff;
	font-size: 1.2em;
}

/* ---- Link Text ---- */

.pun a:link {
	color: #6e6ef7;
	font-weight: normal;
	font-family: "Roboto", sans-serif;
	line-height: 1.2;
	vertical-align: middle;
}
.pun a:visited {
	color: #888;
}
.pun a:hover {
	color: #8080ff;
}

/* ---- Text ---- */

.pun strong {
	font-weight: normal;
}

/* ---- Profile ---- */

.pun legend {
	color: #8080ff;
	font-weight: normal;
	font-family: "Roboto", sans-serif;
	line-height: 1.2;
	vertical-align: middle;
}

.pun .blockmenu {
	box-shadow: 0 0 12px black;
}

.pun .blockmenu .box {
	background-color: black;
}

.pun select {
	color: #aaa;
	background-color: black;
	border: 1px solid #333;
	cursor: pointer;
}
.pun select:hover {
	color: #ccc;
	background-color: #151515;
	border-color: #444;
}

.pun .button {
	font-size: 10px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	color: #bbb !important;
	background-color: black;
	border: 1px solid #333;
	padding: 4px 8px;
	cursor: pointer;
}
.pun .button:hover {
	color: #ccc;
	background-color: #151515;
	border: 1px solid #444;
}

.pun fieldset .rbox input {
	cursor: pointer;
}

.pun input {
	color: #aaa;
	background-color: black;
	border: 1px solid #333;
}
.pun input:hover, .pun input:focus {
	color: #bbb;
	background-color: #151515;
	border: 1px solid #444;
}

/* This also controls forum text area */
.pun .txtarea textarea {
	color: #bbb;
	background-color: black;
	border: 1px solid #333;
}
.pun .txtarea textarea:hover, .pun .txtarea textarea:focus {
	color: #ccc;
	background-color: #151515;
	border: 1px solid #444;
}
.pun .txtarea textarea:focus-visible {
	outline: none;
}

.pun .block2col .blockform {
	box-shadow: 0 0 12px black;
}

/* ---- Profile view ---- */

#viewprofile dd {
	background-color: black;
}

/* ---- Forum ---- */

.pun .blockpost {
	box-shadow: 0 0 12px black;
	margin-bottom: 16px;
}

.pun .blockpost h2, .pun .blockpost .box, .pun .postleft, .pun .postright, .pun .postfootleft {
	background-color: black;
}

.pun .postright {
	border-left-color: black;
}

.pun .postfootright {
	background-color: black;
	border-left-color: black;
}

.pun .quotebox {
	background-color: #151515;
	border-color: #333;
}

.pun .codebox, .hljs {
	background-color: #151515;
	border-color: #333;
}

.pun .postleft .postavatar {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

.pun .postleft dl {
	margin: 6px;
	padding: 6px;
}

.pun .blockpost dt {
	font-size: 1.091em;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
}

.pun .postleft .usertitle {
	text-align: center;
	vertical-align: middle;
}

.pun dd {
	text-align: center;
	vertical-align: middle;
}

.pun .postmsg .likelist li {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	overflow-wrap: break-word;
}

.pun .postmsg ul.likelist {
	padding: 6px 0 0 0;
	margin: 6px;
}

#vf {
	box-shadow: 0 0 12px black;
}

/* ---- PM's ---- */

.pun th {
	color: #777;
	text-align: center;
	background-color: black;
	border: 2px #8080ff;
	border-style: solid none solid none;
	border-radius: 0;
	border-left: solid 1px #333;
}

#punpmsnew .tce input {
	margin: 0 0 0 0.3em;
}

/* ---- Payment ---- */

#payment-container fieldset {
	background-color: black;
	border: solid 2px #8080ff;
	border-radius: 0;
	margin-bottom: 16px;
}

/* ---- Usergroups ---- */

.pun .usergroup-1 {
   	color: #c56ef7!important;
   	font-weight: 700
}
.pun a:hover.usergroup-1 {
   	color: #d080ff!important
}
.pun .usergroup-2 {
   	color: #f7a26e!important;
   	font-weight: 700
}
.pun a:hover.usergroup-2 {
   	color: #ffb080!important
}
.pun .usergroup-5 {
   	color: #6e6ef7!important;
   	font-weight: 700
}
.pun a:hover.usergroup-5 {
   	color: #8080ff!important
}
.pun .usergroup-7 {
   	color: #6ef7bc!important;
   	font-weight: 700
}
.pun a:hover.usergroup-7 {
    	color: #80ffc8!important
}

.pun .usergroup-8 {
   	color: #6eaef7!important;
   	font-weight: 700
}
.pun a:hover.usergroup-8 {
    	color: #80bbff!important
}

/* ---- Avatar border ---- */

.pun img {
	border: solid 2px #8080ff;
}
   
/* Meme text */

#brdfooter {
	box-shadow: 0 0 12px black;
}
   
#watermark {
	content: 'Theme created by cixnum';
	color: white;
	font-size: 11px;
	font-weight: normal;
        font-family: "Roboto", sans-serif;
        
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 5px;
	padding: 5px;

	background: linear-gradient(90deg, #339fc5, #6d6cb6, #a250bb, #a8749f, #b8718a, #b88577, #b8a458, #b8cd31);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 300% 300%;
	z-index: 9999;

	-webkit-animation: rainbow 4s ease infinite;
	-z-animation: rainbow 4s ease infinite;
	-o-animation: rainbow 4s ease infinite;
	animation: rainbow 4s ease infinite;
}

@-webkit-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@keyframes rainbow { 
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
